{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"ignorePatterns": [
		"**/*.js",
		"test/"
	],
	"rules": {
		"no-console": "error",
		"import/extensions": "off",
		"no-param-reassign": ["error", {"props": false}],
		"no-underscore-dangle": "off",
		"no-nested-ternary": "off"
	}
}